@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: Byekan;
  src: url(./fonts/B_Yekan/Yekan.ttf);
}
//khakestari
$color1: #95a3b3;
//firooze
$color2: #84dcc6;
//sormei
$color3: #4b4e6d;
//sefid
$color4: #ffffff;
//sia
$color5: #222222;

$profile_img: "./image/profile.png";
$figma_img: "./image/figma.png";
$node_img: "./image/node.png";
$react_img: "./image/react.png";
$starGold_img: "./image/star_gold.png";
$starGray_img: "./image/star_gray.png";

$gi_w: 30%;
$gi_h: 100vh;

$profile_img_w: 217px;
$profile_img_h: 217px;

$call_inf_w: 65%;
$call_inf_h: 254px;

$padding: 14px;

$di_w: 70%;
$di_h: 100vh;

.App {
  display: flex;
  flex-wrap: wrap;
}

.gi {
  position: fixed;
  right: 0px;
  width: $gi_w;

  height: $gi_h;
  background-color: $color3;
}
.gi .profile_img {
  width: $profile_img_w;
  height: $profile_img_h;
  background-image: url($profile_img);
  background-position: center;
  background-size: cover;
  margin: 50px auto;
}
.gi .call_inf {
  width: $call_inf_w;
  min-width: 265px;
  height: $call_inf_h;
  background-color: $color4;
  border-radius: 20px;
  margin: 0 auto;
  .socialMedia {
    height: 25px;
    display: flex;
    justify-content: center;
    padding-top: $padding;
    padding-bottom: $padding;
    border-bottom: 1px solid $color1;

    img {
      margin-right: 11px;
    }

    #telegram {
      content: url(./image/Telegram.png);
    }

    #instagram {
      content: url(./image/Instagram.png);
    }
    #gitHub {
      content: url(./image/GitHub.png);
    }
    #linkedin {
      content: url(./image/LinkedIn.png);
    }
  }
  .ael {
    padding-right: $padding;
    div {
      height: 46px;

      text-align: right;
      span {
        margin-right: $padding;
        height: 46px;
      }
      img {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
      }

      #phoneImg {
        content: url(./image//Phone.png);
      }
      #emailImg {
        content: url(./image/atSign.png);
      }
      #locationImg {
        content: url(./image/Address.png);
      }
    }
  }
}

.di {
  position: relative;
  width: $di_w;

  height: $di_h;

  div {
    .topic {
      text-align: center;
      font-family: Byekan, sans-serif;
      font-size: 24px;
    }

    .items {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-self: end;
      width: 100%;
      max-width: 750px;
      min-width: 312px;
      margin: 0 auto;

      .item {
        width: 312px;
        height: 120px;
        border-radius: $padding;
        border: 1px solid $color1;
        display: flex;
        margin-top: $padding;
        margin-bottom: $padding;


        div {
          position: relative;
          text-align: right;
          top: 50%;
          margin-right: 10px;
          transform: translateY(-50%);
        }
        .img {
          order: 2;
          width: 68px;
          height: 68px;
          border-radius: 50%;
          // border: 2pt solid $color1;
        }

        .react {
          background-image: url(./image/react.png);
          background-position: center;
          background-size: cover;
        }
        .node {
          background-image: url(./image/node.png);
          background-position: center;
          background-size: cover;
        }
        .docker {
          background-image: url(./image/docker.png);
          background-position: center;
          background-size: cover;
        }
        .typescript {
          background-image: url(./image/typescript.png);
          background-position: center;
          background-size: cover;
        }

        .gitHub {
          background-image: url(./image/gitHubLogo.png);
          background-position: center;
          background-size: cover;
        }
        .js{
          background-image: url(./image/JavaScriptLogo.png);
          background-position: center;
          background-size: cover;

        }

        .projectImg {
          background-image: url(./image/developerMode.png);
          background-position: center;
          background-size: cover;
        }

        .inf {
          width: 213px;
          div {
            top: 0px;
            transform: translateY(0px);
            margin-top: 5px;
            margin-bottom: 5px;
          }

          p {
            text-align: right;
            margin: 0px;
            font-family: Byekan;
            font-size: 15;
            color: $color1;
            text-align: right;
          }

          .title {
            margin-top: $padding;
            margin-bottom: 7px;
            font-family: "Roboto", sans-serif;
            font-size: $padding;
            color: black;
          }
          a {
            font-family: Byekan;
            font-size: 15;
            text-decoration: none;
          }

          .rate {
            img {
              width: $padding;
              height: $padding;
              content: url($starGold_img);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  $gi_w: 40%;
  $di_w: 60%;
  .gi {
    width: $gi_w;
  }
  .di {
    width: $di_w;
  }
}

@media screen and (max-width: 750px) {
  $gi_w: 45%;
  $di_w: 55%;
  .gi {
    width: $gi_w;
  }
  .di {
    width: $di_w;
  }
}

@media screen and (max-width: 610px){
  $gi_w: 100%;
  $di_w: 100%;
  .gi {
    position: relative;
    width: $gi_w;
  }
  .di {
    position: relative;
    width: $di_w;
  }

}
